.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  padding: 0.25rem;
  padding-left: 0.5rem;
  margin-left: 0.25rem;
  border-radius: 20px;
  outline: none;
  font-size: 1rem;
  width: 100%;
}

.locate {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  background: none;
  border: none;
  z-index: 10;
}

.main {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

svg {
  margin: 0 0.1em;
}

.strength {
  display: flex;
  height: 20px;
  width: 100%;
}

.bar {
  margin-right: 5px;
  height: 100%;
  width: 25%;
  transition: box-shadow 500ms;
  box-shadow: inset 0px 20px #1f1f1f;
}

.bar-show {
  box-shadow: none;
}

.bar-1 {
  background: linear-gradient(to right, red, orangered);
}
.bar-2 {
  background: linear-gradient(to right, orangered, yellow);
}
.bar-3 {
  background: linear-gradient(to right, yellow, yellowgreen);
}
.bar-4 {
  background: linear-gradient(to right, yellowgreen, green);
}

.validations {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  font-size: 0.9rem;
  text-align: left;
}
