.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  padding: 0.25rem;
  padding-left: 0.5rem;
  margin-left: 0.25rem;
  border-radius: 20px;
  outline: none;
  font-size: 1rem;
  width: 100%;
}

.locate {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  background: none;
  border: none;
  z-index: 10;
}

.main {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

svg {
  margin: 0 0.1em;
}
